@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
}

.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

header{
    background-color: #FFBE51;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .container nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container nav a{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}

/* index.html */
/* banner-1 */

section.banner-1{
    background-color: #FFFFFF;
    padding: 80px 0;
}

section.banner-1 .container{
    display: flex;
    justify-content: space-between;
}

section.banner-1 .container p{
    text-transform: uppercase;
    color: #757575;
    font-weight: 800;
    font-size: 40px;
}

/* servicos */

section.servs{
    background-color: #E5E5E5;
    padding: 80px;

}

section.servs .container h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
    margin: 0;
    margin-bottom: 50px;
}

section.servs .container .cards{
    display: flex;
    justify-content: space-between;
}

section.servs .container .cards article h3{
    font-weight: 700;
    font-size: 25px;
    padding: 10px 0;
    margin: 0;
}

section.servs .container .cards article small{
    font-weight: 400;
    font-size: 25px;
}

/* banner-2 */
section.banner-2{
    background-color: #FFFFFF;
    padding: 120px 0;
}

section.banner-2 .container{
    display: flex;
    justify-content: space-between;
}

section.banner-2 .container img{
    width: 40%;
    height: 40%;
    margin-right: 100px;
}

section.banner-2 .container .texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section.banner-2 .container .texto p:first-child{
    margin: 0;
    color: #757575;
    font-weight: 700;
    font-size: 27px;
}

section.banner-2 .container .texto p:last-child{
    margin: 0;
    color: #757575;
    font-weight: 400;
    font-size: 18px;
}

/* servicos.html */
/* servicos */
section.servicos .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-content: center;
}

section.servicos .container h1{
    text-align: center;
    text-transform: uppercase;
    color: #FFBE51;
    font-weight: 700;
    font-size: 40px;
}

section.servicos .container small{
    font-weight: 400;
    font-size: 30px;
}

section.servicos .container .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.servicos .container .cards article{
    padding: 80px 0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 5px solid #C4C4C4;
}

section.servicos .container .cards article:last-of-type{
    border-bottom: none;
}

section.servicos .container .cards .texto{
    width: 530px;
}

section.servicos .container .cards .texto h2{
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

section.servicos .container .cards .texto button{
    background-color: #FFC107;
    text-transform: lowercase;
    border: none;
    width: 200px;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 16px;
}

section.servicos .container .cards article .texto .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* trabalhe-conosco */
form input:not([type="checkbox"]),
form textarea,
form select{
    width: 100%;
    padding: 5px;
    margin: 5px 0 20px;
    resize: none;
}

form input:not([type="checkbox"], [type="file"]):focus-visible,
form textarea:focus-visible,
form select:focus-visible {
    outline-color: #FFBE51;
}

form button{
    padding: 15px 30px;
    text-transform: uppercase;
    background-color: #FFBE51;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    transition: 0.5s;
    margin-bottom: 50px;
}

form button:hover{
    background-color: #ee9e15;
}

form button:active {
    background-color: #bd7c0c;
}

form .check{
    margin: 5px 0;
}

form .check:last-of-type{
    margin-bottom: 30px;
}

/* footer */

footer {
    background-color: #FFBE51;;
}

footer .container{
    width: 1200px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container ul{
    list-style: none;
    margin-right: 100px;
}

footer .container ul li{
    font-weight: 400;
    font-size: 18px;
}

footer .container iframe{
    padding: 40px;
    height: 300px;
}

footer small{
    background-color: #C4C4C4;
    display: block;
    padding: 15px;

    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}